<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>

    <form method="POST" enctype="multipart/form-data" action="/fileupload/uploadzip">
        <input type="file" name="file" multiple/>
        <input type="submit" value="zip upload"/>
    </form>

<th:block th:replace="fragments/script"></th:block>
<script th:inline="javascript">
/*<![CDATA[*/
    var list = /*[[${list}]]*/ 'default';
/*]]>*/

$(function(){
    init();
});

function init(){
    
}

</script>
</body>
</html>