<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" action="/fileupload/upload">
        <input type="file" name="file" multiple/>
        <input type="submit" value="upload"/>
    </form>

    <hr>

    <form method="POST" enctype="multipart/form-data" action="/fileupload/uploadzip">
        <input type="file" name="file" multiple/>
        <input type="submit" value="zip upload"/>
    </form>

    <hr>

    <div th:each="i : ${#numbers.sequence(0, 10)}">
        <a th:id="ch- +${i}" name="channel">text2</span>
    </div>

    <div th:each="i : ${#numbers.sequence(0, 10)}" style="display:none">
        <span>text2</span>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
$(function(){
    init();
});

function init(){
    $("a[name=channel]").on("click", channelOpen)
}


function channelOpen(){
    console.log($(this));
}
</script>
</body>
</html>